SibiSampleWCF/Connected Services/ProductService/SibiSampleWCF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SibiSampleWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60691/SibiSampleWCF.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60691/SibiSampleWCF.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60691/SibiSampleWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SampleSibiWCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISibiSampleWCF_findAll_InputMessage">
    <wsdl:part name="parameters" element="tns:findAll" />
  </wsdl:message>
  <wsdl:message name="ISibiSampleWCF_findAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:findAllResponse" />
  </wsdl:message>
  <wsdl:message name="ISibiSampleWCF_find_InputMessage">
    <wsdl:part name="parameters" element="tns:find" />
  </wsdl:message>
  <wsdl:message name="ISibiSampleWCF_find_OutputMessage">
    <wsdl:part name="parameters" element="tns:findResponse" />
  </wsdl:message>
  <wsdl:message name="ISibiSampleWCF_findByDate_InputMessage">
    <wsdl:part name="parameters" element="tns:findByDate" />
  </wsdl:message>
  <wsdl:message name="ISibiSampleWCF_findByDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:findByDateResponse" />
  </wsdl:message>
  <wsdl:portType name="ISibiSampleWCF">
    <wsdl:operation name="findAll">
      <wsdl:input wsaw:Action="http://tempuri.org/ISibiSampleWCF/findAll" message="tns:ISibiSampleWCF_findAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISibiSampleWCF/findAllResponse" message="tns:ISibiSampleWCF_findAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="find">
      <wsdl:input wsaw:Action="http://tempuri.org/ISibiSampleWCF/find" message="tns:ISibiSampleWCF_find_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISibiSampleWCF/findResponse" message="tns:ISibiSampleWCF_find_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="findByDate">
      <wsdl:input wsaw:Action="http://tempuri.org/ISibiSampleWCF/findByDate" message="tns:ISibiSampleWCF_findByDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISibiSampleWCF/findByDateResponse" message="tns:ISibiSampleWCF_findByDate_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISibiSampleWCF" type="tns:ISibiSampleWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="findAll">
      <soap:operation soapAction="http://tempuri.org/ISibiSampleWCF/findAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="find">
      <soap:operation soapAction="http://tempuri.org/ISibiSampleWCF/find" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findByDate">
      <soap:operation soapAction="http://tempuri.org/ISibiSampleWCF/findByDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SibiSampleWCF">
    <wsdl:port name="BasicHttpBinding_ISibiSampleWCF" binding="tns:BasicHttpBinding_ISibiSampleWCF">
      <soap:address location="http://localhost:60691/SibiSampleWCF.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>